/*Button-card*/

.card-button {
    font-size: 16px;
    height: 2.5em;
    width: 50%;
    font-weight: 600;
    letter-spacing: 0.1cm;
    color: white;
    background-color: #857724;
    /*gold #CCBF68;*/
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    align-self: center;
    margin: 20px;
}


.card-button:hover {
    cursor: pointer;
    color: #FFEE82;
    background-color: rgba(9, 10, 1, 0.7);
}

.card-button a {
    color: white;
    text-decoration: none;
}