/*Navbar*/



.navbar {
    grid-area: n;
    grid-area: 1/2/1/12;
    position: relative;
}


.nav-container {
    position: relative;
    /*position: fixed;*/
    z-index: 35;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    height: 60px;
    /*background-color: #fff;*/
    width: 100%;
    background-color: rgba(148, 148, 155, 0.76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


a .logo {
    /*position: absolute;*/
    background-size: cover;
    display: flex;
    flex-direction: row;
}


.logo {
    grid-area: 1/2/1/3;
    width: 40px;
    height: 40px;
    /*margin: 30px;*/
    min-height: 30px;

}

.logo:hover {
    cursor: pointer;
    background-color: rgba(9, 10, 1, 0.6);
}


/*Ul links*/
.navbar-menu {
    /*16.05*/
    /*float: right;*/
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navbar-menu li {
    list-style: none;
    /*dodane*/
    display: flex;

    flex-direction: row;
}


.navbar-menu li a {
    display: block;
    padding: 1em;
    color: #090A01;
    /*#FFEE82; yellow*/
    font-size: 16px;
    letter-spacing: 0.1cm;
    font-weight: bolder;
    background-color: transparent;
    text-decoration: none;
    z-index: 35;
}


.navbar-menu li a:hover {
    cursor: pointer;
    color: #FFEE82;
    background-color: rgba(9, 10, 1, 0.7);
}



/*Hamburger menu*/

/*
#nav-toggle {
    position: absolute;
    margin-top: -100px;
}*/


#menu-toggle span:nth-last-child(1) {
    margin-bottom: 0;
}



/*
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0); 
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
} */


label .icon-burger {
    justify-content: flex-end;
}

.icon-burger {
    display: none;

    /*visibility: hidden;*/

    position: absolute;
    /*right: 5%;
    top: 50%;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    min-width: 30px;
    min-height: 30px;
    width: 100%;

}


.icon-burger:hover {
    cursor: pointer;
    /*background-color: rgba(9, 10, 1, 0.6);*/
}

.icon-burger span,
input {
    display: none;
}

/*
.visually-hidden {
    display: none;
    visibility: hidden;
}*/

/*Hamurger menu visible on small devices*/
@media screen and (max-width: 599px) {
    .logo {
        position: absolute;
        visibility: hidden;
        display: none;
        /*margin: 20px;
        float: left;
        width: 30px;
        height: 30px;
        justify-content: center;*/
    }


    .icon-burger {
        width: 30px;
        height: 30px;
    }


    .icon-burger:hover {
        cursor: pointer;

        background-color: rgba(9, 10, 1, 0.6);
    }


    .navbar-menu {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;

        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;

        justify-content: space-evenly;

        background-color: rgba(196, 132, 132, 0.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }


    .navbar-menu li a {
        font-size: 24px;
    }


    #menu-toggle span {
        display: block;
        width: 30px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #090A01;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;

    }

    #nav-toggle {
        position: absolute;
        /*margin-top: -100px;*/
    }
}





@media screen and (max-width: 769px) {
    .logo {
        position: absolute;
        visibility: hidden;
        display: none;
        /*margin: 35px;
        float: left;
        width: 30px;
        height: 30px;
        justify-content: center;*/
    }


    .icon-burger {
        width: 30px;
        height: 30px;
    }


    .icon-burger:hover {
        cursor: pointer;
        background-color: rgba(9, 10, 1, 0.6);
    }


    .navbar-menu {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;

        top: 40px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        /*wywalic, zeby odzyskac header */
        justify-content: space-evenly;
        /*wywalic, aby odzyskac podklad ze zdjeciem */
        background-color: rgba(196, 132, 132, 0.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }


    .navbar-menu li a {
        font-size: 24px;

    }



    nav :checked~.navbar-menu {
        bottom: 0;
    }


    .icon-burger {
        display: block;

        margin-right: 35px;
    }


    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);

    }

    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }


    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }


    #menu-toggle span {
        display: block;
        width: 30px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #090A01;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }


    #nav-toggle {
        position: absolute;
        margin-top: -100px;
    }

}